@media screen and (min-width: 500px) {
    /*above 500px*/
}

@media screen and (min-width: 800px) {
    /*above 800px*/
}


@media screen and (max-width: 800px) {
    /*below 800px*/
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

img, embed,
object, video {
    max-width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 15px 15px 10px 15px;
    /*text-align: center;*/
}

li + li {
    border-top: 1px solid #ccc;
}

li:nth-child(odd) {
    /*background: #e5f2ff;*/
    background: #ffffe5;
}

.map-marker-img {
    display: inline-block;
    width: 20px;
    margin: 0 5px 5px 0;
}

#map {
    height: 100%;
    width: 100%;
}

#navicon {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: white;
    box-shadow: 3px 3px 3px #888;
    border-radius: 5px;
    outline: none;
}

#navicon img {
    margin: 7px 10px 2px 10px;
    width: 30px;
}

#menu {
    width: 270px;
    height: 100%;
    position: absolute;
    z-index: 2;
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
    background: white;
    box-shadow: 5px 0 8px #888;
}

#menu.open {
    transform: translate(0, 0);
}

#list {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow-y: scroll;
    max-height: calc(100% - 55px);
    margin: 0 5px;
}

input {
    /*outline: none;*/
    height: 30px;
    width: 80%;
    border: none;
    font-size: 1.25em;
    display: block;
    margin: 10px auto;
    padding: 0;
}

.list-place-info {
    display: inline-block;
}

p {
    margin: 0;
}

.list-place-address {
    font-size: 0.5em;
    margin-top: 5px;
}

.place-info {
    text-align: center;
    height: 240px;
    width: 230px;
}

.place-info h2 {
    margin: 10px 0 0 0;
}

.hidden {
    display: none;
}

.yelp-info table {
    margin: 0 auto;
}

.yelp-info th {
    text-align: right;
}

.yelp-info td {
    padding-left: 10px;
    text-align:left;
}

.place-img {
    border-radius: 5px;
    width: 150px;
    margin: 10px 0 10px 0;
}

.selected {
    background-color: #f66 !important;
}
