/* General */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

img, embed,
object, video {
    max-width: 100%;
}

p {
    margin: 0;
}

.hidden {
    display: none;
}


/* Google Maps */
#map {
    height: 100%;
    width: 100%;
}


/* Hamburger Icon */
#hamburger-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: white;
    box-shadow: 3px 3px 3px #888;
    border-radius: 5px;
    outline: none;
}

#hamburger-button img {
    margin: 5px 8px 0px 8px;
    width: 30px;
}


/* Search Menu */
#search-menu {
    height: 100%;
    position: absolute;
    z-index: 2;
    background: white;
    box-shadow: 5px 0 8px #888;
    width: 270px;
    transform: translate(-280px, 0);
    transition: transform 0.3s ease;
}

#search-menu.open {
    transform: translate(0, 0);
}

input {
    outline: none;
    height: 30px;
    width: 75%;
    border: none;
    font-size: 1.25em;
    display: block;
    margin: 10px 0 10px 20px;
    padding: 0;
}

#clear-search-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    color: #888;
}

#list-div {
    border-top: 1px solid #48b5e9;
    border-bottom: 1px solid #ccc;
    overflow-y: auto;
    max-height: calc(100% - 55px);
    margin: 0 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 15px 15px 10px 15px;
}

.selected {
    background-color: #d1edfa !important;
}

li + li {
    border-top: 1px solid #ccc;
}

/*li:nth-child(odd) {*/
    /*background: #e5f2ff;*/
    /*background: #ffffe5;*/
/*}*/

.map-marker-img {
    display: inline-block;
    width: 20px;
    margin: 0 5px 5px 0;
}

.list-place-info {
    display: inline-block;
}

.list-place-address {
    font-size: 0.5em;
    margin-top: 5px;
}

#list-bottom-gradient {
    pointer-events: none;
    position: absolute;
    width: 280px;
    height: 80px;
    bottom: 0px;
    /*right: 16px;*/
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}


/* Info Window */

.gm-style-iw {
    width: 280px !important;
    height: 195px !important;
    top: 15px !important;
    left: 0 !important;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #48b5e9;
}

.iw-container {
    width: 280px;
    height: 100%;
    overflow: hidden;
}

.iw-header {
    background-color: #48b5e9;
    text-align: center;
    color: white;
    border-radius: 2px 2px 0 0;
    padding: 0;
    box-shadow: 0 3px 3px #bbb;
    height: 30px;
}

.iw-header h2 {
    margin: 0;
    padding: 3px 0;
}

.iw-content {
    padding: 15px 15px 0px 15px;
    overflow-y: auto;
    height: 150px;
}


::-webkit-scrollbar {
    display: none;
}


div.snippet-and-img-div {
    display: flex;
    display: -webkit-flex;
    margin: 0 0 20px 0;
}

.yelp-snippet-div {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.yelp-img-div {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.yelp-img {
    border-radius: 5px;
    margin: auto 0 auto 10px;
}


.yelp-info table {
    margin: 0 auto 10px auto;
    font-size: 1.25em;
}

.yelp-info tr {
}

.yelp-info th {
    text-align: right;
    padding: 0 0 10px 0;
}

.yelp-info td {
    text-align:left;
    padding: 0 0 10px 20px;
}

.iw-bottom-gradient {
    pointer-events: none;
    position: absolute;
    width: 280px;
    height: 40px;
    bottom: 0px;
    right: 16px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}


/* Media Queries */
@media screen and (min-width: 800px) {
    #search-menu {
        width: 350px;
        transform: translate(-360px);
}
