/* General */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

img, embed,
object, video {
    max-width: 100%;
}

p {
    margin: 0;
}

.hidden {
    display: none;
}


/* Google Maps */
#map {
    height: 100%;
    width: 100%;
}


/* Hamburger Icon */
#hamburger-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: white;
    box-shadow: 3px 3px 3px #888;
    border-radius: 5px;
    outline: none;
}

#hamburger-button img {
    margin: 7px 10px 2px 10px;
    width: 30px;
}


/* Search Menu */
#search-menu {
    height: 100%;
    position: absolute;
    z-index: 2;
    background: white;
    box-shadow: 5px 0 8px #888;
    width: 270px;
    transform: translate(-280px, 0);
    transition: transform 0.3s ease;
}

#search-menu.open {
    transform: translate(0, 0);
}

input {
    outline: none;
    height: 30px;
    width: 75%;
    border: none;
    font-size: 1.25em;
    display: block;
    margin: 10px 0 10px 20px;
    padding: 0;
}

#list-div {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow-y: auto;
    max-height: calc(100% - 55px);
    margin: 0 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 15px 15px 10px 15px;
}

.selected {
    background-color: #f66 !important;
}

li + li {
    border-top: 1px solid #ccc;
}

li:nth-child(odd) {
    /*background: #e5f2ff;*/
    background: #ffffe5;
}

.map-marker-img {
    display: inline-block;
    width: 20px;
    margin: 0 5px 5px 0;
}

.list-place-info {
    display: inline-block;
}

.list-place-address {
    font-size: 0.5em;
    margin-top: 5px;
}


/* Info Window */

.iw-container {
    max-width: 250px;
    height: 100%;
}

.iw-header {
    background-color: #48b5e9;
    text-align: center;
    color: white;
    border-radius: 2px 2px 0 0;
    padding: 5px 5px;
    margin-bottom: 10px;
}

.iw-title {
    margin: 0;
}


.iw-content {
    padding: 0 10px;
    overflow-y: auto !important;
    height: 100%;
    max-height: 150px;
}

div.snippet-and-img-div {
    display: flex;
    display: -webkit-flex;
    margin: 0 0 20px 0;
}

.yelp-snippet-div {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.yelp-img-div {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.yelp-img {
    border-radius: 5px;
    margin: auto 0 auto 10px;
}


.yelp-info table {
    margin: 0 auto;
    font-size: 1.25em;
}

.yelp-info tr {
}

.yelp-info th {
    text-align: right;
    padding: 0 0 10px 0;
}

.yelp-info td {
    text-align:left;
    padding: 0 0 10px 20px;
}


/* Media Queries */
@media screen and (min-width: 800px) {
    #search-menu {
        width: 350px;
        transform: translate(-360px);
}
